* {
    font-family: 'PT Sans', sans-serif;
}

*::selection {
    color: #fff;
    background-color: #00a;
}

body {
    background: #06e;
}

header {
    font-size: 52px;
    font-weight: 700;
    text-decoration: underline;
}

.container {
    margin:10px;
}

.section__header {
    font-size:xx-large;
}

.container__nav {
    background:#04e;
    height:3vh;
    padding: 8px;
    margin-left: auto;
}

.nav__button {
    color: #fff;
    background:#00a;
    outline: none;
    border: none;
    height: 3vh;
    width: 3.5vw;
}

.nav__button:hover {
    background: linear-gradient(to bottom,transparent,#07e);
}

.nav__button:active {
    background: linear-gradient(to bottom,#07e,#00a);
}


.mainContainer {
    display: flex;
}

.mainContainer__article {
    background: #08e;
    width: 79%;
    padding: 10px;
}

.mainContainer__article p {
    font-size: x-large;
}

#firstSection {
    margin-top: 8px;
}

.mainContainer__aside {
    background:#0ae;
    width: 20%;
    padding: 10px;
    font-size: large;
}

.mainContainer__aside iframe {
    width:19vw;
}

.mainContainer__aside img {
    width: 19vw;
}

.container__footer {
    background:#09e;
    font-size: xx-large;
    padding:8px;
}

.container__footer a {
    font-size: large;
    text-decoration: none;
}

.navItems {
    color: #fff;
    background:#00a;
    padding:3px;
    padding-top: 1px;
    text-decoration: none;
}

